h2 {
  margin: 0;
  color: var(--color-text-dark);
  font-size: 50px;
  font-weight: 700;
  word-break: break-word;

  &.deprecated {
    text-decoration: line-through;
  }
}

.chips {
  margin-top: 1em;
}

.classname {
  color: var(--color-gray-dark);
  font-size: 14px;
}

pre {
  padding: 26px;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  font-size: 16px;
  color: var(--color-text-dark);
  background: rgba(237, 237, 237, 0.5);
}

code {
  font-family: 'DM Mono', monospace;
}

ff-chip {
  &.abstract-label {
    //font-size: 20px;
    //font-weight: bold;
    vertical-align: middle;
  }

  & + ff-chip {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.section {
  margin-top: 2em;

  &.notes {
    margin-top: 1em;

    ff-alert {
      display: block;
      margin-bottom: 8px;
    }
  }
}

h3 {
  margin-bottom: 15px;
}

.explanation {
  & > span {
    color: var(--color-gray-dark);
    font-size: 16px;
  }
}

.see-also {
  ul {
    padding: 0;
    list-style: none;
  }

  app-icon-arrow-right-up {
    margin-right: 10px;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

.syntax > pre {
  position: relative;
  display: block;
  padding: 26px;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  font-size: 16px;
  color: var(--color-text-dark);
  background: rgba(237, 237, 237, 0.5);

  code {
    padding: 0;
    border: none;
    background: transparent;
  }

  button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.75);

    &:hover {
      background: rgba(216, 216, 216, 1);
    }

    &:active {
      background: rgba(216, 216, 216, 0.5);
    }
  }
}

.options {
  table {
    width: 100%;
    overflow: auto;

    tr.deprecated > td:first-child {
      text-decoration: line-through;

      &.forRemoval {
        text-decoration-color: var(--color-alert-error);
      }
    }

    th {
      padding: 10px 0;
      color: var(--color-gray);
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }

    tr.border-top {
      td {
        padding-top: 1em;
        border-top: 1px solid var(--color-gray-light);
      }
    }

    tr.padding-bottom {
      td {
        padding-bottom: 1em;
      }
    }

    td {
      color: var(--color-gray-dark);
      font-size: 16px;
      font-weight: 400;
      word-break: break-word;
      vertical-align: top;
    }

    .name {
      color: var(--color-text-dark);
      font-family: 'DM Mono', monospace;
      font-weight: 500;
    }

    & > .empty-table {
      display: block;
      text-align: center;
    }
  }

  .nav-to-enum {
    color: var(--color-anchor);
    font-weight: 500;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

  }

  .attribute-default-value {
    font-family: 'DM Mono', monospace;
    font-weight: 500;
    word-break: break-all;
  }

  .description:first-letter {
    text-transform: capitalize;
  }
}

.sub-options {
  .options-title {
    display: flex;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-text-dark);
    color: var(--color-text-dark);
    font-size: 2rem;
    font-weight: 600;

    span {
      flex: 1 1 auto;
    }

    app-icon-caret {
      margin-right: 12px;
      flex: 0 0 auto;
    }
  }

  .options-sub-title {
    color: var(--color-text-dark);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1em;
  }

  .options-list {
    overflow: auto;
  }

  .parent-element-title {
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 20px;
    background: var(--color-gray-light);
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;

    span {
      flex: 1 1 auto;
    }

    app-icon-caret {
      flex: 0 0 auto;
    }
  }
}

.attributes {
  ff-alert {
    display: block;
    margin: 20px 0;
  }
}

code.deprecated {
  text-decoration: line-through;
}

.enum-options-list > li {
  margin-bottom: 0.25em;
}

p.description {
  color: var(--color-gray);
}
