span {
  flex: 1 1 auto;
}

app-icon-caret {
  flex: 0 0 auto;
}

ff-alert {
  display: block;
  margin: 20px 0;
}

table {
  width: 100%;
  overflow: auto;

  tr.deprecated > td:first-child {
    text-decoration: line-through;
    position: relative;

    &.forRemoval {
      color: var(--color-alert-error);
      text-decoration-color: var(--color-alert-error);
    }

    .icon {
      vertical-align: top;
    }

    .icon,
    .deprecated-text {
      padding-right: 8px;
      &:hover + .deprecated-description,
      &:hover + .deprecated-text + .deprecated-description {
        display: block;
      }
    }

    .deprecated-description {
      position: absolute;
      top: 3em;
      width: max-content;
      max-width: 600px;
      padding: 0.5em;
      border-radius: 0.25em;
      display: none;
      background: var(--color-text-dark);
      color: white;
    }
  }

  th {
    padding: 10px 0;
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  tr.border-top {
    td {
      padding-top: 1em;
      border-top: 1px solid var(--color-gray-light);
    }
  }

  tr.padding-bottom {
    td {
      padding-bottom: 1em;
    }
  }

  td {
    color: var(--color-gray-dark);
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    vertical-align: top;
  }

  .name {
    color: var(--color-text-dark);
    font-family: 'DM Mono', monospace;
    font-weight: 500;
  }

  & > .empty-table {
    display: block;
    text-align: center;
  }
}

.nav-to-enum {
  color: var(--color-anchor);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.attribute-default-value {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
  word-break: break-all;
}

.description:first-letter {
  text-transform: capitalize;
}

.description {
  margin-bottom: 2em;
  color: var(--color-gray-dark);
}

.options-sub-title {
  color: var(--color-text-dark);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1em;
}

.parent-element-title {
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px 20px;
  background: var(--color-gray-light);
  color: var(--color-text-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}

code.deprecated {
  text-decoration: line-through;
}

.enum-options-list > li {
  margin-bottom: 0.25em;
}

p.description {
  color: var(--color-gray);
}

tr.nested-elements-implements-list {
  td {
    padding-block: 1em;
  }
}
