h2 {
  color: var(--ff-color-dark);
  font-size: 50px;
  font-weight: 700;
  word-break: break-word;

  &.deprecated {
    text-decoration: line-through;
  }
}

pre {
  padding: 26px;
  border-radius: 8px;
  border: 1px solid var(--ff-bgcolor-gray);
  font-size: 16px;
  color: var(--ff-color-dark);
  background: rgba(237, 237, 237, 0.50);
}

code {
  font-family: 'DM Mono', monospace;
}

ff-chip {
  &.abstract-label {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }

  & + ff-chip {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.section {
  margin-top: 50px;
  overflow: auto;
}

h3 {
  margin-bottom: 15px;
  color: var(--ff-color-dark);
  font-size: 32px;
  font-weight: 600;
}

.explanation > p {
  color: var(--ff-color-dark-gray);
  font-size: 16px;
}

.quick-links {
  ul {
    padding: 0;
    list-style: none;
  }

  app-icon-arrow-right-up {
    margin-right: 10px;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

.syntax > pre {
  position: relative;
  padding: 26px;
  border-radius: 8px;
  border: 1px solid var(--ff-bgcolor-gray);
  font-size: 16px;
  color: var(--ff-color-dark);
  background: rgba(237, 237, 237, 0.50);

  button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.75);

    &:hover {
      background: rgba(216, 216, 216, 1);
    }

    &:active {
      background: rgba(216, 216, 216, .5);
    }
  }
}

.options {
  table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;

    tr.deprecated > td:first-child {
      text-decoration: line-through;

      &.forRemoval {
        text-decoration-color: var(--ff-alert-error);
      }
    }

    th {
      padding: 10px 0;
      color: var(--ff-color-gray);
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      letter-spacing: 1.8px;
      text-transform: uppercase;

      &:first-child {
        padding-left: 18px;
      }

      &:last-child {
        padding-right: 18px;
      }
    }

    td {
      padding: 13px 3px;
      border-top: 1px solid var(--ff-color-light-gray);
      color: var(--ff-border-gray);
      font-size: 16px;
      font-weight: 400;
      vertical-align: text-top;
      word-break: normal;

      &:first-child {
        padding-left: 18px;
        color: var(--ff-color-dark);
        font-family: 'DM Mono', monospace;
        font-weight: 500;
      }

      &:last-child {
        padding-right: 18px;
      }

      & > .empty-table {
        display: block;
        text-align: center;
      }
    }

    th, td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 70%;
      }
    }
  }

  .sub-options {
    padding: 0 0 20px 30px;

    .options-title {
      display: flex;
      margin-bottom: 20px;
      padding: 15px 0;
      border-bottom: 1px solid var(--ff-color-dark);
      color: var(--ff-color-dark);
      font-size: 24px;
      font-weight: 600;

      span {
        flex: 1 1 auto;
      }

      app-icon-caret {
        margin-right: 12px;
        flex: 0 0 auto;
      }
    }

    .options-sub-title {
      padding-left: 18px;
      color: var(--ff-color-dark);
      font-size: 18px;
      font-weight: 600;
    }

    .options-list {
      padding-left: 15px;
    }

    .parent-element-title {
      display: flex;
      border-radius: 10px;
      margin-top: 10px;
      padding: 15px 20px;
      background: var(--ff-bgcolor-white);
      color: var(--ff-color-dark);
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2.4px;
      text-transform: uppercase;

      span {
        flex: 1 1 auto;
      }

      app-icon-caret {
        flex: 0 0 auto;
      }
    }
  }

  .attributes {
    ff-alert {
      display: block;
      margin: 20px 0;
    }
  }
}
