.tabs {
  display: flex;
  margin: 35px 0;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .tab {
    margin-right: 30px;
    padding: 0 0 16px;
    font-size: 20px;
    font-weight: 600;

    &.active {
      margin-bottom: -1px;
      border-bottom: 1px solid #000;
    }

    .count {
      margin-left: 4px;
      padding: 0 6px;
      background-color: var(--ff-color-light-gray);
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 600;
      vertical-align: middle;
    }
  }
}

.components {
  display: flex;
  margin: 35px 0;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;

  .card {
    position: relative;
    width: 400px;
    height: 250px;
    padding: 20px 40px 20px 20px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--ff-bgcolor-yellow);
    }

    .name,
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name, .description {
      user-select: none;
    }

    .label {
      letter-spacing: 2.1px;
      text-transform: uppercase;
    }

    .name {
      margin: 6px 0;
      color: var(--color-text-dark);
      font-size: 24px;
      font-weight: 700;
    }

    .label {
      color: var(--ff-color-gray);
      font-size: 14px;
      font-weight: 500;
    }

    .description {
      color: var(--color-text-dark);
      font-size: 16px;
      font-weight: 400;
    }

    ff-button {
      position: absolute;
      bottom: 20px;
      right: 40px;
    }
  }
}

.deprecated {
  color: var(--ff-color-gray) !important;
  text-decoration: line-through;
}
