<div class="tabs">
  <div class="tab">
    <span>Components</span>
    <span class="count">0</span>
  </div>
  <div class="tab">
    <span>Related</span>
    <span class="count">0</span>
  </div>
  <div class="list-modes"></div>
</div>
<div class="components">
  @if (searchQuery !== '') {
    @for (component of components | keyvalue; track component.key) {
      <div class="card">
        <p>{{ component.value.labels ? component.value.labels['FrankDocGroup'][0] : '' }}</p>
        <p>{{ component.value.name }}</p>
      </div>
    } @empty {
      <p>No Frank!Elements found.</p>
    }
  }
</div>
