*.html

/node_modules
npm - debug.log
yarn - error.log

/dist
/tmp
/out-tsc
/bazel-out

/.angular/cache
.sass-cache/

.vscode/*
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
