<ff-button toggleable [(active)]="open" (activeChange)="toggleDropdown()">Add Filter</ff-button>
<div #menu class="menu">
  <div class="menu-card filters">
    <ul>
      @for (filter of filters(); track filter.name) {
        <li (click)="toggleFilterMenu(filter)" [ngClass]="{ active: selectedFilter === filter }">{{ filter.name }}</li>
      }
    </ul>
    <button (click)="clearFilters()">Clear all filters</button>
  </div>
  @if (selectedFilter) {
    <div class="menu-card labels">
      <p class="menu-title">{{ selectedFilter.name }}</p>
      <ul>
        @for (label of selectedFilter.labels; track label.name) {
          <li>
            <ff-checkbox
              [initFilterToggle]="selectedFilterLabels()"
              [initFilterName]="selectedFilter.name"
              [initLabelName]="label.name"
              (click)="onToggleLabel(selectedFilter.name, label.name)"
              >{{ label.name }}</ff-checkbox
            >
          </li>
        }
      </ul>
      <button (click)="clearSelectedLabels()">Clear selected filters</button>
    </div>
  }
</div>
