<div class="selected-filters">
  <ff-button toggleable [(active)]="open" (activeChange)="toggleDropdown()">&plus; Add Filter</ff-button>
  @for (selectedFilterGroup of selectedFilterLabels() | keyvalue; track selectedFilterGroup.key) {
    @for (selectedFilter of selectedFilterGroup.value; track selectedFilter; let index = $index) {
      <span class="selected-filters__item"
        ><span>{{ selectedFilter }}</span
        ><span class="close-button" tabindex="0" (click)="removeSelectedFilterLabel(selectedFilterGroup.key, index)"
          >&times;</span
        ></span
      >
    }
  }
</div>
<div #menu class="menu">
  <div class="menu-card filters">
    <ul>
      @for (filterEntry of filters(); track filterEntry.name) {
        <li
          [ngClass]="{ active: selectedFilter?.name === filterEntry.name && selectedFilterLocked }"
          (mouseover)="toggleFilterMenu(filterEntry)"
          (focus)="toggleFilterMenu(filterEntry)"
          (click)="toggleFilterMenu(filterEntry, true)"
        >
          {{ filterEntry.name }}
        </li>
      }
    </ul>
    <button [class.disabled]="areAllFilterGroupsEmpty()" (click)="clearFilters()">Clear all filters</button>
  </div>
  @if (selectedFilter) {
    <div class="menu-card labels">
      <ul>
        @for (label of appService.getLabelEntries(selectedFilter.filter); track label.name) {
          <li>
            <ff-checkbox
              class="checkbox-pointer"
              [appInitFilterToggle]="selectedFilterLabels()"
              [initFilterName]="selectedFilter.name"
              [initLabelName]="label.name"
              (click)="toggleMenuLabel(selectedFilter!.name, label.name)"
              >{{ label.name }}</ff-checkbox
            >
          </li>
        }
      </ul>
      <button [class.disabled]="isFilterGroupEmpty(selectedFilter.name)" (click)="clearSelectedLabels()">
        Clear selected filters
      </button>
    </div>
  }
</div>
