<div class="page-container">
  <div class="sidenav">
    @for (filter of filters(); track filter.name; let index = $index) {
      <div class="filter-name" [collapse]="filterList" (collapsedChange)="collapsedFilters[filter.name] = $event">
        <span>{{ filter.name }} ({{ filter.labels.length }})</span>
        <app-icon-caret
          [width]="18"
          [height]="18"
          [rotation]="collapsedFilters[filter.name] ? 'down' : 'up'"
        ></app-icon-caret>
      </div>
      <ul #filterList>
        @for (label of filter.labels; track label.name) {
          <li class="filter-item" (click)="appService.scrollToElement('#' + filter.name + '-' + label.name)">
            <ff-chip [colour]="appService.getLabelColor(filter.name)" slim>{{ label.name.charAt(0) }}</ff-chip>
            {{ label.name }} ({{ label.elements.length }})
          </li>
        }
      </ul>
    }
  </div>
  <div class="page">
    <h2>Index</h2>
    <p class="description">
      Welcome to the index page! Here, you'll find all groups, categories, and elements conveniently gathered in one
      place. On the left side, you can browse categories organized by their respective groups. Simply click on a
      category to scroll directly to it.<br />
      <br />
      The groups "Category" and "Components" will be familiar to the Frank!Framework community, while "EIP" (Enterprise
      Integration Patterns) are widely recognized in the integration and messaging community. Elements may belong to
      multiple groups or categories, so you might encounter them in more than one category.
    </p>

    @for (filter of filters(); track filter.name; let index = $index) {
      <div class="filter-container">
        <h3>{{ filter.name }}</h3>
        @for (label of filter.labels; track label.name) {
          <div class="label-container">
            <h4 id="{{ filter.name }}-{{ label.name }}">{{ label.name }}</h4>
            <div class="elements">
              @for (element of label.elements; track $index) {
                <a [routerLink]="['/', filter.name, label.name, element]"
                  ><ff-chip [colour]="appService.getLabelColor(filter.name)" slim>{{ label.name.charAt(0) }}</ff-chip>
                  <span
                    [ngClass]="{ deprecated: deprecatedElements().includes(element) }"
                    [innerHTML]="element | nameWbr"
                  ></span
                ></a>
              } @empty {
                <p>No elements found.</p>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
@if (showFeedback) {
  <button class="feedback-btn" title="Feedback">
    <app-icon-smile width="32" height="32"></app-icon-smile>
  </button>
}
