ff-chip {
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}

.page {
  .description {
    max-width: 900px;
    color: var(--ff-color-dark-gray);
    font-size: 16px;
    font-weight: 400;
  }

  .filter-container {
    margin-top: 50px;

    .label-container {
      margin: 25px 0;

      h4 {
        margin-bottom: 15px;
        color: var(--color-text-dark);
        font-size: 24px;
        font-weight: 600;
      }

      .elements {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 50px;

        a {
          display: inline-block;
          width: 250px;
          color: var(--color-text-dark);
          font-size: 16px;
          text-transform: capitalize;
          text-decoration: none;

          & > span.deprecated {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
