.page-container {
  display: flex;
  max-width: 100%;
  margin: 0 50px;

  .sidenav {
    width: 300px;
    flex: 0 0 auto;
  }

  .page {
    width: 100%;
    flex: 1 1 auto;
  }
}

ff-chip {
  font-size: 14px;
  font-weight: 600;
}

.sidenav {
  padding: 20px 20px 20px 0;
  border-image: linear-gradient(180deg, #fff 0%, var(--ff-color-light-gray) 50px) 1;
  border-width:  0 1px 0 0;
  border-style: solid;

  .filter-name {
    margin-bottom: 5px;
    color: var(--ff-color-dark);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }

  ul {
    padding-left: 13px;
    list-style: none;
    margin-bottom: 25px;

    li {
      margin: 5px 0;
      color: var(--ff-color-dark);
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}


.page {
  padding: 20px 0 0 50px;

  h2 {
    margin-bottom: 10px;
    color: var(--ff-color-dark);
    font-size: 50px;
    font-weight: 700;
    line-height: 0.9;
  }

  .description {
    max-width: 900px;
    color: var(--ff-color-dark-gray);
    font-size: 16px;
    font-weight: 400;
  }

  .filter-container {
    margin-top: 50px;

    h3 {
      color: var(--ff-color-dark);
      font-size: 32px;
      font-weight: 600;
    }

    .label-container {
      margin: 25px 0;

      h4 {
        margin-bottom: 15px;
        color: var(--ff-color-dark);
        font-size: 24px;
        font-weight: 600;
      }

      .elements {
        display: flex;
        flex-wrap: wrap;
        gap:  5px 50px;

        a {
          display: inline-block;
          width: 250px;
          color: var(--ff-color-dark);
          font-size: 16px;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }
}
