/* You can add global styles to this file, and also import other style files */

@import '@frankframework/angular-components';

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('assets/DMMono-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
