/* You can add global styles to this file, and also import other style files */
@use "sass:meta";

@use '@frankframework/angular-components';
@use '@frankframework/angular-components/styles/variables';


@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('assets/DMMono-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

app-root {
  @each $key, $value in meta.module-variables('variables') {
    --#{$key}: #{$value};
  }
}

.page-container {
  display: flex;
  max-width: 100%;
  margin: 0 50px;

  .sidenav {
    width: 300px;
    flex: 0 0 auto;
  }

  .page {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0 0 50px;
    flex: 1 1 auto;
  }
}

.sidenav, .search-related, .search-results {
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 3px 0 3px 16px;
      border-left: 1px solid var(--ff-color-light-gray);
      color: var(--ff-color-dark-gray);
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
      word-break: break-all;

      @media (min-width: 1600px) {
        padding: 3px 0 3px 25px;
      }

      &.active {
        border-left: 1px solid var(--ff-color-dark);
        color: var(--ff-color-dark);
        font-weight: 600;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.sidenav {
  padding: 20px 20px 20px 0;
  border-image: linear-gradient(180deg, #fff 0%, var(--ff-color-light-gray) 50px) 1;
  border-width: 0 1px 0 0;
  border-style: solid;

  .nav-group-name,
  .nav-item {
    cursor: pointer;
  }

  .nav-group-name {
    margin-bottom: 5px;
    color: var(--ff-color-dark);
    font-size: 18px;
    font-weight: 600;
  }

  .title {
    color: var(--ff-color-dark);
    font-size: 16px;
    font-weight: 600;
  }
}

h2.page-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--ff-color-dark);
  font-size: 50px;
  font-weight: 700;
  line-height: 0.9;
}

h3.sub-title {
  color: var(--ff-color-dark);
  font-size: 32px;
  font-weight: 600;
}

.feedback-btn {
  position: fixed;
  bottom: 25px;
  right: 50px;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.javadoc,
.details .section {
  pre {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid variables.$ff-bgcolor-gray;
    color: variables.$ff-color-dark;
    background: rgba(237, 237, 237, 0.50);
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;

    code {
      white-space: pre;
    }
  }

  a {
    color: variables.$ff-anchor-default;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:active {
      color: variables.$ff-anchor-active;
    }

    &:hover {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  code {
    font-family: 'DM Mono', monospace;
  }
}

.collapsed {
  height: 0;
  overflow: hidden;
}

.transforming {
  overflow-y: hidden;
}

.checkbox-pointer {
  & label {
    cursor: pointer;
  }
}
