/* You can add global styles to this file, and also import other style files */

@import '@frankframework/angular-components';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
