<div class="sidebar">
    <div class="sidebar__search">
        <input type="text" placeholder="Search.." [(ngModel)]="search" />
        <i [hidden]="!search.length" (click)="search = '';" class="fa fa-times closeSearch" aria-hidden="true">X</i>

        <button
            (click)="showHideDeprecated()"
            title="{{showDeprecatedElements ? 'Hide' : 'Show' }} Deprecated Frank!Elements"
            class="btn btn-{{ showDeprecatedElements ? 'warning' : 'primary' }} btn-xs pull-left half"
            type="button">{{showDeprecatedElements ? 'Hide' : 'Show' }} Deprecated</button>
        <button
            (click)="showHideInheritance()"
            title="{{showInheritance ? 'Hide' : 'Show' }} Inheritance"
            class="btn btn-primary btn-xs pull-right half"
            type="button">{{showInheritance ? 'Hide' : 'Show' }} Inheritance</button>
        <button
            (click)="downloadXSD()"
            title="Download Frank!Config XSD"
            class="btn btn-primary btn-xs"
            type="button">Download XSD</button>
    </div>

    <ul class="sidebar__categories">
        <li *ngFor="let group of groups">
            <span
              (click)="selectGroup(group.name)"
              [ngClass]="selectedGroup?.name == group.name ? 'nav-label active' : 'nav-label'"
              class="nav-label"
            >{{group.name}}</span>
        </li>
    </ul>

    <sidebar-elements
      [elements]="elements"
      [showDeprecatedElements]="showDeprecatedElements"
      [showInheritance]="showInheritance"
      [group]="selectedGroup"
      [element]="element"
      [search]="search"
      class="sidebar__elements"
    ></sidebar-elements>
</div>
