<header>
  <div class="title" routerLink="/">
    <app-icon-ff-logo-small [width]="35" [height]="35" />
    <h1>{{ applicationName }}</h1>
    <span class="version" appVersionFormat [version]="version"></span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/components" routerLinkActive="active">Components</a></li>
      <li><a routerLink="/properties" routerLinkActive="active">Properties</a></li>
      <li><a routerLink="/credential-providers" routerLinkActive="active">Credential Providers</a></li>
      <li><a routerLink="/servlet-authenticators" routerLinkActive="active">Servlet Authenticators</a></li>
    </ul>
  </nav>
  <!--    TODO: Add Darkmode -->
  <!--  <div class="actions">-->
  <!--        <button class="switch-theme-button" title="Dark/light Mode">-->
  <!--          <app-icon-darkmode width="20" height="20" colour="var(&#45;&#45;ff-color-gray)"></app-icon-darkmode>-->
  <!--        </button>-->
  <!--  </div>-->
</header>
