header {
  display: flex;
  width: 100%;
  padding: 30px 50px;
  align-items: center;
  justify-content: space-between;

  .title {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    h1 {
      font-size: inherit;
      font-weight: inherit;
    }

    .version {
      color: rgba(30, 30, 30, 0.5);
      white-space: nowrap;
      overflow: hidden;
    }
  }

  nav {
    & > ul {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      list-style: none;

      & > li {
        margin: 0 20px;
        padding: 5px 0;
        font-weight: bold;

        a {
          padding: 0 0 5px;
          color: inherit;
          text-decoration: none;

          &:hover:not(.active) {
            color: var(--color-brand);
          }

          &.active {
            border-bottom: 3px solid var(--color-brand);
          }
        }
      }
    }
  }

  .actions > button {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;

    &:last-child {
      margin-left: 25px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .actions .switch-theme-button app-icon-darkmode {
    cursor: not-allowed;
  }
}
