header {
  display: flex;
  width: 100%;
  padding: 30px 50px;
  align-items: center;

  .title {
    display: inline-flex;
    width: 200px;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 700;

    h1 {
      font-size: inherit;
      font-weight: inherit;
    }

    .version {
      color: rgba(30, 30, 30, 0.50);
    }
  }

  nav {
    margin: 0 8vw;
    flex: 1;

    & > ul {
      display: flex;
      padding: 0;
      align-items: center;
      list-style: none;

      li {
        margin: 0 20px;
        padding: 5px 0;
        font-weight: bold;

        a {
          padding: 0 0 5px;
          color: inherit;
          text-decoration: none;

          &.active {
            border-bottom: 3px solid #fdc300;
          }
        }
      }
    }
  }

  .actions > button {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;

    &:last-child {
      margin-left: 25px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
