<header>
  <div class="title" routerLink="/">
    <app-icon-ff-logo-small [width]="35" [height]="35"></app-icon-ff-logo-small>
    <h1>Reference</h1>
    <span class="version">{{ version }}</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/index" routerLinkActive="active">Index</a></li>
    </ul>
  </nav>
  <div class="actions">
    <button class="switch-theme-button" title="Dark/light Mode">
      <app-icon-darkmode width="20" height="20" [colour]="styleColours.get('ff-color-gray')!"></app-icon-darkmode>
    </button>
    <button class="download-xsd-button" title="Download XSD" (click)="downloadXSD()">
      <app-icon-download width="20" height="20"></app-icon-download>
    </button>
  </div>
</header>
