.description {
  max-width: 900px;
  color: var(--ff-color-dark-gray);
  font-size: 16px;
  font-weight: 400;
}

.property-group {
  position: relative;
  margin: 20px 0;

  h3 {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }

  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    //overflow: auto;

    th {
      position: sticky;
      top: 38px;
      padding: 10px 0;
      color: var(--ff-color-gray);
      background-color: #fff;
      font-size: 12px;
      font-weight: 600;
      text-align: start;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }

    tr.border-top {
      td {
        padding-top: 1em;
        border-top: 1px solid var(--ff-color-light-gray);
      }
    }

    tr.padding-bottom {
      td {
        padding-bottom: 1em;
      }
    }

    td {
      padding: 0.25em 0.25em;
      color: var(--ff-border-gray);
      font-size: 16px;
      font-weight: 400;
      word-break: break-word;
      vertical-align: top;
    }

    .property-name {
      color: var(--ff-color-dark);
      font-family: 'DM Mono', monospace;
      font-weight: 500;

      &.deprecated {
        text-decoration: line-through;
      }
    }

    .property-info {
      position: relative;

      .icon {
        &:hover + .property-info__flags {
          display: block;
        }
      }

      &__flags {
        position: absolute;
        top: 3em;
        width: max-content;
        padding: 0.5em;
        border-radius: 0.25em;
        display: none;
        background: var(--ff-color-dark);
        color: white;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .property-default-value {
      font-family: 'DM Mono', monospace;
      font-weight: 500;
      word-break: break-all;
    }

    .property-description:first-letter {
      text-transform: capitalize;
    }
  }
}
