<div class="page-container">
  <div class="sidenav fixed-sidenav">
    @for (propertyGroup of properties(); track index; let index = $index) {
      <div
        class="nav-group-name"
        [collapse]="propertyList"
        [collapsed]="!!getNameOrNull(propertyGroup.name)"
        (collapsedChange)="expandedFilterGroups()[getPropertyGroupKey(propertyGroup.name, index)] = !$event"
      >
        <span>{{ getNameOrNull(propertyGroup.name) ?? DEFAULT_UNKNOWN_PROPERTY_GROUP }}</span>
        <app-icon-caret
          [width]="18"
          [height]="18"
          [rotation]="expandedFilterGroups()[getPropertyGroupKey(propertyGroup.name, index)] ? 'up' : 'down'"
        ></app-icon-caret>
      </div>
      <ul #propertyList>
        @for (propertyName of getPropertyNamesFromGroup(propertyGroup); track index; let index = $index) {
          <li class="nav-item" (click)="scrollToElement('#' + convertToId(propertyGroup.name + '-' + propertyName))">
            {{ propertyName }}
          </li>
        }
      </ul>
    }
  </div>
  <div class="page">
    <h2 class="page-title">Properties</h2>
    <p class="description">
      Here you can find all properties of the Frank!Framework. The properties are grouped by their respective
      categories. You can find the categories on the left, and by clicking on a category, you will be scrolled to it.
      Please note not all categories have been defined yet, so you may find 'unnamed' categories.
    </p>
    @for (propertyGroup of properties(); track index; let index = $index) {
      <div class="property-group">
        <h3 class="sub-title" id="{{ propertyGroup.name }}">
          {{ getNameOrNull(propertyGroup.name) ?? DEFAULT_UNKNOWN_PROPERTY_GROUP }}
        </h3>
        <table>
          <thead>
            <tr>
              <th style="width: 30px"></th>
              <th style="width: 25%">Property name & Description</th>
              <th>Default value</th>
            </tr>
          </thead>
          <tbody>
            @for (property of propertyGroup.properties; track property) {
              @let propertyName = property.name | nameWbr: '.';
              <tr class="border-top" [ngClass]="{ 'padding-bottom': !property.description }">
                <td class="property-info">
                  @if (property.flags) {
                    <app-icon-help class="icon" height="18" width="18" colour="grey"></app-icon-help>
                    <span class="property-info__flags">
                      {{ property.flags.join(', ') }}
                    </span>
                  }
                </td>
                <td
                  class="property-name"
                  [ngClass]="{ deprecated: property.flags && property.flags.includes('Deprecated') }"
                  [id]="convertToId(propertyGroup.name + '-' + property.name)"
                  [innerHTML]="propertyName"
                ></td>
                <td class="property-default-value" [innerHTML]="property.defaultValue ?? DEFAULT_RETURN_CHARACTER"></td>
              </tr>
              @if (property.description) {
                <tr class="padding-bottom">
                  <td></td>
                  <td
                    class="property-description"
                    colspan="2"
                    *fdJavadocTransform="let text of property.description; elements: elements()"
                    [innerHTML]="text"
                  ></td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
