.page-container {
  display: flex;
  max-width: 100%;
  margin: 0 50px;

  .sidenav {
    width: 300px;
    flex: 0 0 auto;
  }

  .page {
    width: 100%;
    flex: 1 1 auto;
  }
}

.sidenav {
  padding: 20px 20px 20px 0;
  border-image: linear-gradient(180deg, #fff 0%, var(--ff-color-light-gray) 50px) 1;
  border-width: 0 1px 0 0;
  border-style: solid;

  .property-group-name,
  .property-item {
    cursor: pointer;
  }

  .property-group-name {
    margin-bottom: 5px;
    color: var(--ff-color-dark);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }

  ul {
    padding-left: 13px;
    list-style: none;
    margin-bottom: 25px;

    li {
      margin: 5px 0;
      color: var(--ff-color-dark);
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      word-break: break-all;
    }
  }
}

.page {
  padding: 20px 0 0 50px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  color: var(--ff-color-dark);
  font-size: 50px;
  font-weight: 700;
  line-height: 0.9;
}

h3 {
  color: var(--ff-color-dark);
  font-size: 32px;
  font-weight: 600;
}

// only if sidenav won't be used
/*.page {
  padding: 0 24px;

  @media (min-width: 1280px) {
    padding: 0 50px;
  }
}*/

.property-group {
  margin: 20px 0;

  table {
    width: 100%;
    //overflow: auto;

    th {
      padding: 10px 0;
      color: var(--ff-color-gray);
      font-size: 12px;
      font-weight: 600;
      text-align: start;
      letter-spacing: 1.8px;
      text-transform: uppercase;

      &:first-child {
        padding-left: 18px;
        width: 250px;
      }

      &:last-child {
        padding-right: 18px;
      }
    }

    td {
      padding: 13px 3px;
      border-top: 1px solid var(--ff-color-light-gray);
      color: var(--ff-border-gray);
      font-size: 16px;
      font-weight: 400;
      vertical-align: text-top;
      word-break: normal;

      &:first-child {
        padding-left: 18px;
        color: var(--ff-color-dark);
        font-family: 'DM Mono', monospace;
        font-weight: 500;
      }

      &:last-child {
        padding-right: 18px;
      }

      &:nth-of-type(3), &:nth-of-type(4) {
        word-break: break-all;
        width: 250px;
      }
    }
  }
}
