ff-search {
  width: 100%;
}

.search-results,
.search-related {
  margin-top: 50px;

  .title {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 600;
  }

  .count {
    margin-left: 4px;
    padding: 0 6px;
    background-color: #ededed;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 3px 0 3px 25px;
      border-left: 1px solid #EDEDED;
      color: #626262;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;

      &.active {
        border-left: 1px solid #1E1E1E;
        color: #1E1E1E;
        font-weight: 600;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
