ff-search {
  width: 100%;
  margin: 20px 0 30px;
}

.search-results,
.search-related {
  .title {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 600;
  }

  .count {
    margin-left: 4px;
    padding: 0 6px;
    background-color: var(--color-gray-light);
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
  }
}

.deprecated {
  color: var(--color-gray) !important;
  text-decoration: line-through;
}
