<ff-search slim [focusKeyEnabled]="false" [(ngModel)]="searchQuery" (ngModelChange)="search()"></ff-search>
<div class="search-results">
  <span class="title">Results</span>
  <span class="count">{{ filteredElements.length }}</span>
  <ul>
    @for (searchElement of filteredElements; track searchElement.item.name) {
      <li [ngClass]="{ active: searchElement.item.name === element?.name, deprecated: searchElement.item.deprecated }">
        <a
          [routerLink]="
            searchElement.item.labels
              ? [
                  '/',
                  getFirstFilter(searchElement.item.labels),
                  getFirstLabel(searchElement.item.labels),
                  searchElement.item.name,
                ]
              : ['/', searchElement.item.className]
          "
          [innerHTML]="searchElement.item.name | nameWbr"
        ></a>
      </li>
    }
  </ul>
</div>
@if (showRelated) {
  <div class="search-related">
    <span class="title">Related</span>
    <span class="count">{{ relatedElements.length }}</span>
    <ul>
      @for (relatedElement of relatedElements; track relatedElement.item.name) {
        @if (!relatedElement.item.deprecated) {
          <li [ngClass]="{ active: relatedElement.item.name === element?.name }">
            <a
              [routerLink]="
                relatedElement.item.labels
                  ? [
                      '/',
                      getFirstFilter(relatedElement.item.labels),
                      getFirstLabel(relatedElement.item.labels),
                      relatedElement.item.name,
                    ]
                  : ['/', relatedElement.item.className]
              "
              [innerHTML]="relatedElement.item.name | nameWbr"
            ></a>
          </li>
        }
      }
    </ul>
  </div>
}
