ff-search {
  width: 100%;
  margin: 20px 0 30px;
}

.search-results,
.search-related {
  .title {
    color: var(--ff-color-dark);
    font-size: 16px;
    font-weight: 600;
  }

  .count {
    margin-left: 4px;
    padding: 0 6px;
    background-color: var(--ff-color-light-gray);
    border: 1px solid var(--ff-bgcolor-gray);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
  }
}
