<div class="sub-menu">
    <ul>
        <!-- TODO "let element in elements | matchElement:this:search | toArray | orderBy: 'name'" -->
        <ng-template ngFor let-element [ngForOf]="elements | keyvalue">
            <li [ngClass]="{ 'deprecated': element.value.deprecated }" *ngIf="!element.value.deprecated || showDeprecatedElements">
                <a
                  [routerLink]="[groupName, element.value.name]"
                  routerLinkActive="active"
                ><span class="nav-label">{{element.value.name}}</span></a>
            </li>
        </ng-template>
    </ul>
</div>
