<div class="page">
  <div class="search-container">
    <p class="subtitle">Technical documentation of our FF! Components</p>
    <h2 class="title">What are you looking for?</h2>
    <ff-search [(ngModel)]="searchQuery" (ngModelChange)="search($event)"></ff-search>
    <app-home-filters
      [initialFilters]="initialFilters"
      (selectedFilters)="updateSelectedFilters($event)"
    ></app-home-filters>
  </div>
  @if (loading) {
    <div class="loading">
      <p>Loading elements...</p>
    </div>
  } @else if (searchQuery.trim() !== '') {
    <div class="elements">
      <app-home-component-list [components]="filteredElements"></app-home-component-list>
    </div>
  }
</div>
