footer {
  width: 100%;
  padding: 60px 100px;
  border-radius: 15px 15px 0 0;
  background: var(--color-brand);
}

.divider-top {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
  align-items: center;

  .logo {
    flex: 1;
    align-self: flex-start;
  }

  .links {
    display: flex;
    gap: 1em;

    & > a {
      display: flex;
      gap: 0.25em;

      cursor: pointer;
      text-decoration: none;
      color: #343434;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}

.divider-bottom {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}
