<footer>
  <div class="divider-top">
    <div class="logo">
      <app-icon-ff-logo-full
        width="161"
        height="30"
        colour="black"
        colourExclamationMark="white"
      ></app-icon-ff-logo-full>
    </div>
    <div class="links">
      <a href="https://frank-manual.readthedocs.io/en/latest/"
        ><app-icon-navigate-to-external width="20" height="20"></app-icon-navigate-to-external> Frank!Manual</a
      >
      <a href="https://flow.frankframework.org/"
        ><app-icon-navigate-to-external width="20" height="20"></app-icon-navigate-to-external> FF!Flow</a
      >
    </div>
  </div>
  <p class="divider-bottom">&copy; {{ year }} Frank!Framework</p>
</footer>
