.page {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 24px;

  @media (min-width: 1280px) {
    padding: 0 50px;
  }

  .side-search {
    width: 190px;
    flex: 0 0 auto;

    @media (min-width: 1600px) {
      width: 290px;
    }
  }

  .details {
    width: 100%;
    flex: 1 1 auto;
  }

  .side-navigation {
    width: 190px;
    flex: 0 0 auto;

    @media (min-width: 1600px) {
      width: 290px;
    }
  }
}

.side-search {
  padding-right: 12px;

  @media (min-width: 1600px) {
    padding-right: 20px;
  }
}

.details {
  padding: 0 12px;
  overflow: hidden;

  @media (min-width: 1600px) {
    padding: 0 20px;
  }
}

.side-navigation {
  .sticky {
    position: sticky;
    top: 50px;
  }

  ul {
    padding: 10px 0;
    border-left: 1px solid var(--color-gray-light);
    color: #000;
    font-size: 16px;
    list-style: none;

    li {
      margin: 0;
      padding-left: 16px;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;

      & + li {
        margin: 10px 0 0;
      }

      &.active {
        margin-left: -1px;
        border-left: 1px solid var(--color-text-dark);
        color: var(--color-text-dark);
        font-weight: 700;
      }

      & > ul {
        padding-bottom: 0;
        border: none;

        li {
          padding-left: 16px;
        }
      }
    }
  }
}
