.page > .description {
  max-width: 900px;
  color: var(--color-gray-dark);
  font-size: 16px;
  font-weight: 400;
}

.provider-group {
  margin: 20px 0;

  h3 {
    margin-bottom: 3px;
  }

  .fullname {
    color: var(--color-gray);
    font-size: 14px;
  }

  .description {
    margin-top: 8px;
    color: var(--color-gray-dark);
    font-size: 16px;
  }
}

.section {
  margin-top: 2em;

  &.notes {
    margin-top: 1em;

    ff-alert {
      display: block;
      margin-bottom: 8px;
    }
  }
}
