# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [master,artifacts,testValidatingValidConfig]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 2
        path: frank-doc

    - name: Cache local Maven repository
      uses: actions/cache@v2
      env:
        cache-name: cache-maven-dependencies
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Maven
      env:
        CI_SERVICE: GITHUB
        TZ: Europe/Amsterdam
        JAVA_OPTS: "-Xms1G -XX:+UseParallelGC"
      run: mvn -B -V -T1 -Pibissource,codecoverage -Dmaven.javadoc.skip=true install
      working-directory: frank-doc

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1

    - name: Set Frank!Doc version environment variable
      run: echo "FRANKDOC_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      working-directory: frank-doc

    - name: Checkout Frank!Framework
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
        repository: ibissource/iaf
        path: iaf

    # If you try to create the Frank!Doc immediately, the parent build is first but it fails because the sub projects have not been build yet
    - name: Build all subprojects to have them in the next step
      run: mvn -DskipTests clean install
      working-directory: iaf
    - name: Build Frank!Framework
      env:
        CI_SERVICE: GITHUB
        TZ: Europe/Amsterdam
        JAVA_OPTS: "-Xms1G -XX:+UseParallelGC"
      run: mvn -B -V -T1 -PattachFrankDoc -DskipTests -Dfrankdoc.version=$FRANKDOC_VERSION process-sources
      working-directory: iaf

    - name: Check FrankConfig.xsd
      run: |
        java -jar \
          frank-doc/frank-doc-doclet/target/frank-doc-doclet-$FRANKDOC_VERSION.jar \
          frank-doc/.github/workflows/validConfig.xml \
          iaf/target/frankdoc/xml/xsd/FrankConfig.xsd

    - name: Check FrankConfig-compatibility.xsd
      run: |
        java -jar \
          frank-doc/frank-doc-doclet/target/frank-doc-doclet-$FRANKDOC_VERSION.jar \
          frank-doc/.github/workflows/validConfig.xml \
          iaf/target/frankdoc/xml/xsd/FrankConfig-compatibility.xsd
